---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import "../styles/styles.css";
---

<div class="main-content">
	<nav>
		<a href="/">Inicio</a>
		<a href="/educacion">Educacion</a>
		<a href="/profesional">Experiencia Profesional</a>
		<a href="/habilidades">Habilidades</a>
		<a href="/proyectos">Poyectos</a>
		<a href="/contactame">Contáctame</a>
	</nav>
	<div class="DosColumnas">
		<div class="item col1">
			<img src="Win.jpg" alt="My piture">
		</div>
		<div class="col2">
			<div class="Nombre">
				Ana Lilia Salinas Callejas 
			</div>
			<div class="Titulo">
				Desarrolladora de Software
			</div>
		</div>
		<div class="item col3">
			<img src="koala_lentes.webp" alt="My piture">
		</div>
		<div class="colTitles TitleLeft">
			<div class="Titles">
				Acerca de mi
			</div>
		</div>
		<div class="item col4">
			<div class="cuadroDatos textoInicio">
				<p>Nací en la CDMX un 19 de Octubre de 1987 <br>
					Desde muy pequeña desarrollé el gusto por la programación gracias a mi padre y a la primer computadora que llevó a casa.</p>
					<br><br>
				<p>Soy una persona aventurera que disfruta de nuevos retos, ofrezco calidad en mi trabajo aportando mis conocimientos, habilidades y experiencia dependiendo de cada proyecto de acuerdo con las necesidades y gusto del cliente.</p>
			</div>
		</div>
	</div>
</div>
<div class="footer">
@ Todos los derechos reservados
</div>
