---
import "../styles/styles.css";
---

<div class="main-content">
	<nav>
		<a href="/">Inicio</a>
		<a href="/educacion">Educacion</a>
		<a href="/profesional">Experiencia Profesional</a>
		<a href="/habilidades">Habilidades</a>
		<a href="/proyectos">Poyectos</a>
		<a href="/contactame">Contáctame</a>
	</nav>
	<div class="colEducacion">
		<div class="item colTitleEducacion">
			<div class="Titles">
				Mi educación
			</div>
		</div>
		<div class="colImageEducacion">
			<div class="img">
				<img src="KoalaMochila.webp" alt="My piture">
			</div>
		</div>
		<div class="colDatosEducacion">
			<div class="cuadroDatosEducacion textoInicio">
				<p>
					Soy una persona que gusta de siempre estar aprendiendo y desarrollando por su cuenta, pero aqui te muestro un recorrido por las últimos estudios realizados:
				</p>
					<br><br>
					<ul class="custom-list">
						<li>Universidad del Valle de México | En curso</li>
						 	Bootcamp Desarrollo Web
						<br><br>
						<li>Universidad del Valle de México | 2023</li>
							Bootcamp Data Analyst
						<br><br>
						<li>Universidad Interamericana para el Desarrollo | 2013 - 2015</li>
							Ingeniería en Sistemas de Información
						<br><br>
						<li>Preparatoria abierta | 2008</li>
							Certificado
					</ul>
			</div>
		</div>
	</div>
</div>