---
import "../styles/styles.css";
---

<div class="main-content">
	<nav>
		<a href="/">Inicio</a>
		<a href="/educacion">Educacion</a>
		<a href="/profesional">Experiencia Profesional</a>
		<a href="/habilidades">Habilidades</a>
		<a href="/proyectos">Poyectos</a>
		<a href="/contactame">Contáctame</a>
	</nav>
	<div class="colEducacion">
		<div class="item colTitleEducacion">
			<div class="Titles">
				Mis habilidades
			</div>
		</div>
		<div class="colImageEducacion">
			<div class="img">
				<img src="koala_habilidades.webp" alt="My piture">
			</div>
		</div>
		<div class="colDatosEducacion textoInicio">
			<div class="cuadroDatosEducacion">

				Algunas de mis habilidades son:
				<br><br>
				<ul class="custom-list">
					<li>Comunicación asertiva</li>
					<li>Empatía </li>
					<li>Capacidad de análisis</li>
					<li>Iniciativa</li>
					<li>Aprendizaje autodidacta</li>
				</ul>
			</div>
		</div>
	</div>
</div>