---
import "../styles/styles.css";
---

<div class="main-content">
	<nav>
		<a href="/">Inicio</a>
		<a href="/educacion">Educacion</a>
		<a href="/profesional">Experiencia Profesional</a>
		<a href="/habilidades">Habilidades</a>
		<a href="/proyectos">Poyectos</a>
		<a href="/contactame">Contáctame</a>
	</nav>

    <div class="Titles">
        <br>
        Este portafolio es mi proyecto final
    </div>
</div>