---
import "../styles/styles.css";
---

<div class="main-content">
	<nav>
		<a href="/">Inicio</a>
		<a href="/educacion">Educacion</a>
		<a href="/profesional">Experiencia Profesional</a>
		<a href="/habilidades">Habilidades</a>
		<a href="/proyectos">Poyectos</a>
		<a href="/contactame">Contáctame</a>
	</nav>
	<div class="colProfesional">
		<div class="item colTitleProfesional">
			<div class="Titles">
				Experiencia Profesional
			</div>
		</div>
		<div class="colImageProfesion">
			<div class="img">
				<img src="koala_profesional.webp" alt="My piture">
			</div>
		</div>
		<div class="colDatosProfesion">
			<div class="cuadroDatosEducacion textoInicio">
				Mi paso por el área laboral ha tenido mucho valor en mi crecimiento. Te dejo datos de mi trabajo actual.

				<br><br>
				<ul class="custom-list">
				<li>Grupo Salinas| 2016 - Actualidad</li> 
					Puesto: Desarrolladora de Software 
				</ul>
				<br><br>
				Ejecución:
				<br>
				<ul class="custom-list">
					<li>Migración de aplicaciones de VB6 a .NET y Vue</li> 
					<li>Desarrollo de nuevos requerimientos en VB6</li> 
					<li>Desarrollo de nuevos requerimientos en .NET </li>
					<li>Desarrollo de scripts de SQL para requerimientos </li>
					<li>Análisis de requerimientos </li>
					<li>Creación de documentación como diagramas de UML y scripts para pruebas</li> 
					<li>Análisis del código con SonarQube </li>
					<li>Creación de pruebas unitarias en .NET </li>
					<li>Creación de Fronts en Vue </li>
					<li>Manejo de metodologías agiles y scrum</li> 
					<li>Planeación y registro de horas en Jira </li>
					<li>Versionamiento de código con Git </li>
					<li>Seguimiento de pruebas con QA </li>
					<li>Desarrollo de programas ejecutables en Java</li> 
				</ul>
			</div>
		</div>
	</div>
</div>