---
import "../styles/styles.css";
---

<div class="main-content">
	<nav>
		<a href="/">Inicio</a>
		<a href="/educacion">Educacion</a>
		<a href="/profesional">Experiencia Profesional</a>
		<a href="/habilidades">Habilidades</a>
		<a href="/proyectos">Poyectos</a>
		<a href="/contactame">Contáctame</a>
	</nav>
	<div class="colProfesional">
		<div class="item colTitleProfesional">
			<div class="Titles">
				Mis Proyectos
			</div>
		</div>
		<div class="colImageProfesion">
			<div class="img">
				<img src="koala_proyectos.webp" alt="My piture">
			</div>
		</div>
		<div class="colDatosProfesion">
			<div class="cuadroDatosEducacion posicionPortafolio">
				<button class="btnPortafolio" onclick="window.location.href='/portafolio'">Portafolio Web</button>
			</div>
		</div>
	</div>
</div>